/*  
==================================================
220718 이은지 블로그 틀 나누고 메인 배경 초안 구성
220719 상단 메뉴 설정 이모티콘 클릭이벤트 js 추가
220720 상단 메뉴 fixed 고정, 블로그 내용 추가
       선규->블로그 본문과 상단 메뉴 위치 수정 요청
220721 왼쪽 네비바 js 기능 추가
==================================================
 */


/* 220719 글씨체 추가 */
/* 세방고딕 BOLD */
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 세방고딕 Regular */
@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 유토 이미지 고딕 R */
@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;  /* 하단에 x축 스크롤 생겨 숨겼음 */
}

/* 전체 감싸는 영역 */
.container{
    border: 3px solid black;
    width: 100vw;
}

/* 220720 다크모드 효과 */
.container.dark{
    color: white;
}
.container.dark .main{
    filter : opacity(1);
}
.container.dark .con2{
    background-color: gray;
}
.container.dark .topNav{
    background-color: gray;
}

/* 상단 이미지 */
.main{
    width: 100%;
    height: 100%;
    background-size: 100%; 
    background-image: url("blogImg/food2.jpg"); 
    background-repeat: no-repeat;   /* 이미지 중복 제거 */
    filter: opacity(0.8);  /* opacity로 배경 살짝 흐리게 함 */
    position: fixed;       /* 스크롤 시 배경 고정되도록 fixed */
    z-index: -100;         /* 배경이 맨 뒤로 가도록 index 설정 */
}

/* 왼쪽 메뉴부터 footer까지 감싸는 영역 */
.con{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
/* header영역부터 footer까지 감싸는 영역 */
/* 왼쪽 메뉴~footer과 header~footer 감싼 이유
   -> 왼쪽 메뉴바가 들어가고 나올 때 flex를 이용해 
   전체 화면 100% 맞추기 위함 */
.con2{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 650px; /* 220719 사이트 최소 크기 조정 */
}

/* 상단 메뉴 */
.topNav{
   width: 100%;
   padding-top : 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center; 
   position: fixed;
   top:0;
   /* 220720
   fixed 시 아이콘들이 header 뒤로 가 클릭 이벤트가 실행안됨
   z-index를 줌으로써 아이콘을 맨 앞으로 오게 해 
   클릭이벤트를 할 수 있도록 함*/
   z-index: 100;
   transition: all 0.5s;  
}
.topNav>div{
    width: 30%;
    font-weight: bold;
    font-size: 1.3rem;  
}
.topNav>div:nth-child(1){
    margin-left: 25px;
}
.topNav>div:nth-child(2){
    text-align: center;
    font-size: 1.7rem;
}
.topNav>div>p{
    font-family: 'SEBANG_Gothic_Regular';
}
.topNav>div:nth-child(3){
    margin-right: 25px;
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
}
.topNavIcon{
    cursor: pointer;
    margin-left: 8px;
}
/* 220720
이벤트리스너 했는데 아이콘 효과가 인식되지 않아서  
전구 아이콘에 마진과 커서 효과주었음 */
.xi-lightbulb-o, .xi-lightbulb{
    cursor: pointer;
    margin-left: 8px;
}

/* 왼쪽 메뉴 */
.leftNav{
    background-color: white;
    border: 3px solid orange;
    width: 15%;
    /* position: absolute; 
    transition: all 0.5s;
    left: -100%; */
    z-index: 1000;
}
.leftTop{
    width: 100%;
    height: 30%;
    background-color: aqua;
}
/* 220721 
아이콘 누르면 navbar 나옴 */
#hide{
    width: 100%;
    font-size: 25px;
}
.xi-close{
    width: 100%;
    font-size: 25px;
    text-align : right;
}
.leftM{
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: blue;
}
.leftBottom{
    width: 100%;
    text-align: center;
    background-color: burlywood;
}

/* header 영역 */
header{
    width: 100%;
    height: 250px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top : 30px;
}
header>div{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'SEBANG_Gothic_Bold';
}
#headFont{
    font-size: 1rem;
    font-weight: lighter;
}


/* section 영역 */
section{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'BBTreeGR';
    text-align : center;
    font-size: 1.3rem;
    line-height: 30px;
}
.sec1Img{
    height:200px;
}
.secImg2{
    height:350px;
}
/* 220720 section, footer side여백 추가 */
.side{

    width:15%;
}
/* 220719 section 내부 sec1 영역 */
.sec1{
    width: 70%;
    padding-top: 30px; 
    flex-wrap: wrap;
    display: flex;
    border: 3px solid black;
}
.sec1>div{
    width: 100%;
}
.sec2>div{
    width: 100%;
}

/* footer 영역 */
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
footer>div:nth-child(2){
    width: 70%;
    border: 3px solid orange;
}

/* 하단 고정 메뉴 영역 */
.footerNav{
    width: 100%;
    border: 3px solid yellow;
    /* position: fixed;
    bottom: 0; */
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
}
.footerNav>div:nth-child(2){
    width: 70%;
    text-align: left;
    padding: 10px 0 10px;
}
#heart, #talk{
    font-family: 'BBTreeGR';
    font-size: 1rem;
    font-weight: bold;
}
#heart:hover, #talk:hover{
    cursor: pointer;
    color: red;
}
