/*
=================================
22/07/19 김정치 신상품 자동 캐로셀  
=================================
*/

/* 22/07/30 자주쓰는 색상 지정 */
:root {
    --point: orangered;
    --color: rgb(255, 218, 71);
}

/* 22/07/22 캐로셀 전체 영역 및 섹션 타이틀 설정 */
.container {
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    min-width: 820px;
}
.container .carouselTitle {
    text-align: center;
    margin: 40px 0 20px;
}
.container .carouselTitle i{
    color: var(--point);
    font-size: 27px;
}

/* 22/07/21 섹션별 구분 라인 설정 */
.sectionLine {
    margin-top: 35px;
    border-color: var(--point);
}

/* 22/07/21 캐로셀 네비게이션 설정 */
.swiper .caroselNavigation{
    width: 100%;
    position: absolute;
    top: 29%;
}
.swiper .caroselNavigation .prev,
.swiper .caroselNavigation .next
{
    width: 50px;
    height: 50px;
    font-size: 3rem;
    color: var(--point);
    margin: 0 10px;
    opacity: 0.9;
    cursor: pointer;
}
.swiper .caroselNavigation .prev{
    transform: rotate(-180deg);
    position: relative;
    float: left;
    z-index: 10;
}
.swiper .caroselNavigation .next{
    float: right;
    position: relative;
    z-index: 10;
}

/* 22/07/22 캐로셀 각 상품 타이틀 설정 */
.swiper-wrapper .swiper-slide .slide .imgBox {
    height: 100%;
}
.swiper-wrapper .swiper-slide .slide .itemText .itemTitle {
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    font-size: 1.2rem;
    margin: 10px 0 7px;
}
.swiper-wrapper .swiper-slide .slide .itemText .itemTitle span {
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    margin: 2px 0 0px;
    padding: 5px 5px 2px;
    line-height: 20px;
    color: white;
    background-color: var(--point);
}
.swiper-wrapper .swiper-slide .slide .itemText .salesPrice {
    font-family: 'BBTreeGR', sans-serif;
    font-size: 0.9rem;
    text-decoration: line-through;
    vertical-align: text-top;   /* 22/07/21 할인 상품 원래 가격 세로위치 글줄 맨위로 조정 */
    line-height: 19px;          /* 22/07/21 할인 상품 원래 가격 세로위치 조정 */
    color: red;
}
.swiper-wrapper .swiper-slide .slide .itemText .itemInfor {
    font-family: 'BBTreeGR', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;           /* 22/07/21 할인 상품 원래 가격 세로위치 조정을 위한 세팅 */
}

/* 22/07/20 스와이프 캐로셀 설정 */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 22/07/28 김정치 각 이미지에 커서 포인터 추가 */
.mySwiper .swiper-wrapper .swiper-slide .slide {
    width: 100%;
    cursor: pointer;
}
.mySwiperReview .swiper-wrapper .swiper-slide .slide {
    width: 100%;
    cursor: pointer;
}

/* 22/07/24 김정치 고객 리뷰 이미지 및 사이즈 조정 */


.Review .swiper-wrapper .swiper-slide .slide .imgBox{
    width: 100%;
}
.Review .swiper-wrapper .swiper-slide .slide .imgBox img{
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
}
.Review .swiper-wrapper .swiper-slide .slide .imgBox .reviewImg1{
    background-color: rgb(148, 180, 209);
}
.Review .swiper-wrapper .swiper-slide .slide .imgBox .reviewImg2{
    background-color: darkseagreen;
}
.Review .swiper-wrapper .swiper-slide .slide .imgBox .reviewImg3{
    background-color: lightseagreen;
}
.Review .swiper-wrapper .swiper-slide .slide .imgBox .reviewImg4{
    background-color: hotpink;
}
.Review .swiper-wrapper .swiper-slide .slide .imgBox .reviewImg5{
    background-color: lightsalmon;
}
.Review .swiper-wrapper .swiper-slide .slide .itemText .itemInfor {
    font-size: 0.8rem;
}

/* 22/07/24 블로그 리뷰 페이지 구성 */

.blogSwiperArea {
    display: flex;
    flex-direction: row;
}
.mySwiperBlog {
    width: 35%;
}
.mySwiperBlog .swiper-wrapper {
    width: 100%;
}
.mySwiperBlog .swiper-wrapper .swiper-slide .slide {
    width: 100%;
}
.mySwiperBlog .swiper-wrapper .swiper-slide .slide .imgBox {
    width: 100%;
    height: 200px;
}

/* 22/07/24 블로그 리뷰 더보기 설정 */
.container .blogPlus {
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 10vw;
}
.container .blogPlus a, .container .blogPlus a i{
    color: var(--point);
    font-size: 1.2rem;
}
.container .blogPlus a i {
    line-height: 5px;
    vertical-align: middle;
}

/* 22/07/24 블로그리뷰 텍스트 영역 설정 */
.blogSwiperArea .blogReviewText{
    width: 60%;
    height: 200px;
    margin-left: 5%;
    margin-bottom: 100px;
}
.blogSwiperArea .blogReviewText .itemText .itemTitle{
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    font-size: 1.5rem;
    color: var(--point);
    margin: 10px 0 7px;
}
.blogSwiperArea .blogReviewText .itemText .itemInfor{
    font-family: 'BBTreeGR', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

/* 22/07/29 김정치 사이드 추천상품 영역 설정 */
.recommendItem{
    width: 9vw;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.416);
    height: 15vw;
    position: fixed;
    top: 28vw;
    left: -10vw;
    transition: all 1s;
    z-index: 1000;
}
.recommendItem h2{
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    background-color: var(--color);
    height: 40px;
    line-height: 40px;
}
.recommendItem .recoImgBox{
    width: 90%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    margin: 5%;
}
.recommendItem .recoImgBox .recoImgBoxImg{
    width: 100%;
    /* height: 100%; */
}
.recommendItem .recoItemTitle{
    font-size: .8rem;
    width: 90%;
    margin: 5%;
    text-align: center;
}


/* 22/07/21 김정치 footer 설정 */
.footer{
    height: 250px;
    padding: 25px 0 0 10vw;
    border-top: 2px solid rgb(155, 154, 154);
    background-color: rgba(214, 214, 214, 0.747);
    display: flex;
}
.footer .footerImg .footerLogo{
    position: relative;
    left: -25px;
    top: -21px;
    width: 160px;
}
.footerText a{
    color: var(--point);
}
.footerText{
    line-height: 25px;
    font-size: 1.2rem;
}
.footContent{
    font-family: 'BBTreeGR', sans-serif;
    font-size: 0.9rem;
}


@media (max-width: 991px) {

    /* 22/07/24 김정치 화면이 991px 이하이면 캐로셀 버튼 크기 축소 */
    .swiper .caroselNavigation .prev,
    .swiper .caroselNavigation .next{
        width: 40px;
        height: 40px;
    }
    /* 22/07/24 김정치 캐로셀 버튼 크기 축소로 인한 위치 조정 */
    .swiper .caroselNavigation{
        width: 100%;
        position: absolute;
        top: 25%;
    }

    /* 22/07/24 김정치 화면이 991px 이하일때 하단에 스크롤 생성 */
    body{
        overflow-x: scroll;
    }
}