/* ========================
220719 오슬기 기본 레이아웃 작성  
220720 오슬기 공통영역 속성 적용 및 세부 조정(중복or불필요 속성 삭제, 중복 클래스명 변경
220721 오슬기 리뷰,블로그 부분 상세레이아웃 작업 및 상단 제품이름,가격,버튼 부분 디자인 작업
220722 오슬기 세부 디자인 조정 
220723 오슬기 버튼 간격 및 속성 수정/페이지본문 영역구분선설정/리뷰테이블폼 정렬수정/일부div 너비,높이 px->%로 변경
220725 오슬기 상세페이지 내 이미지 너비,높이 단위변경(vw,vh), 본문내비바 구성 변경 및 디자인 조정, 이미지 클릭시 변경되는 js구현, json 이미지데이터 적용 1차 완료
220726 오슬기 블로그캐러셀 적용 및 페이지에 맞게 일부 속성 수정, 페이지 레이아웃 및 디자인 작업 완료
220727 오슬기 리뷰,블로그 디자인 세부조정 
220728 오슬기 본문 네비바 영역별 색상 별도 지정
220729 오슬기 블로그후기(블로거정보) 디자인 수정 
220730 오슬기 세부디자인 조정 마지막 작업  
===========================*/
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');



/* 컨셉컬러 미리 설정  */
:root {
    --point: orangered;
    --color: rgb(255, 218, 71);
}


/* 오슬기 파트 시작 */
.main_container { /*220720 오슬기 수정: 메인페이지에 중복되는 클래스명이 있어서 수정*/
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

/* 전체 컨테이너 */
.mainbody {
    width: 100%;
}

/* 상품사진,정보 및 가격 부분 div */
.top {
    width: 100%;
    height: 500px;
}

/* 상품사진(메인사진+추가사진) div */
.topleft {
    width: 50%;
    height: 100%;
    display: flex;
    float: left;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 상품사진(메인사진)  */
.main_details_img { /*220720 오슬기 수정: 메인페이지에 중복되는 클래스명이 있어서 수정*/
    width: 25vw;
    height: 35vh;
    position: relative;
}

/* 메인사진으로 다시 보이게 하는 새로고침 아이콘 */
.main_details_img>span{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.512);
    border-radius: 10%;
    color: var(--point);
    position: absolute;
    right:0;
    bottom: 0;  
    cursor: pointer;
    opacity: 0;
}

/* 상품사진(추가사진) div */
.subimgbox {
    width: 25vw;
    height: 10vh;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

/* 상품사진(추가사진) */
.subimg {
    width: 24%;
    height: 100%;
    cursor: pointer;
}

/* 상품 정보 및 가격 전체div */
.topright {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 상품 정보 및 가격 각 div */
.item_details_box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 제품이름 부분 div 높이조절 */
.item_details_box:nth-child(1){
    height: 130px;
}

/* 제품이름 폰트크기 별도 지정 */
.item_name>span{
    font-size: 40px;
}

/* 제품이름부분을 제외한 텍스트부분 중앙정렬을 위한 디자인 */
.item_details_box>span:not(.item_name>span){
    width: 50%;
    text-align: center;
}

/* 가격,수량 부분 좌측텍스트들만 폰트굵기 얇게 지정 */
.item_details_box>span:first-child:not(.item_name>span){
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
}

/* 판매가 가격부분 div top구분선 추가 */
.item_price_original {
    border-top: 1px solid gray;
}

/* 판매가 가격부분 폰트디자인 */
.item_price_original>span:nth-child(2){
    color:gray;
    text-decoration: line-through;
}

/* 할인율 숫자부분 폰트컬러 */
.item_price_dcRate>span:nth-child(2){
    color: var(--point);
}

/* 수량 부분 아래 구분선 */
.item_quantity {
    border-bottom: 1px solid gray;
}
/* 수량 인풋 디자인 */
.item_quantity input[type=number]{
    width: 60px;
    height: 30px;
    padding-left: 18px;
    text-align: center;
}

/* 수량 인풋 업다운버튼 크기조절 */
.item_quantity input[type=number]::-webkit-inner-spin-button{
    height: 30px;
}

/* 총합계금액 부분 div 높이조절 */
.item_details_box:nth-child(5){
    height:100px;
}

/* 총합계금액 금액부분 폰트크기조절 */
.item_price_total>span:nth-child(2) {
    font-size: 30px;
}

/* 구매/찜/장바구니 버튼 부분 감싸는 div 높이조절 */
.item_details_box:nth-child(6){
    height: 130px;
}

/* 구매/찜/장바구니 버튼 div */
.item_details_btn{
    width: 25%;
    height: 60px;
}
  
/* 구매/찜/장바구니 버튼 디자인 */
.item_details_btn>button {
    width: 100%;
    height: 100%;
    border: 1px solid var(--point);
    border-radius: 1px;
    color: var(--point);
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 버튼 내 아이콘과 텍스트 사이 간격 */
.item_details_btn>button>span:nth-child(2){
    padding: 2px 0 0 5px;
}

/* 구매 버튼 강조하기위해 div 너비 별도 늘림 */
.buyNow {
    width: 45%;
}  

/* 구매 버튼 강조하기위해 색상 별도 지정 */
.buyNow>button {
    width: 100%;
    background-color: var(--point);
    color: white;
}

/* 본문 네비메뉴바(상품디테일,상품정보,리뷰,블로그) 전체 div */
.bodymenubox {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 1px solid gray;
}

/* 본문 네비메뉴바(상품디테일,상품정보,리뷰,블로그) div */
.bodymenu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    background-color: white;
}

/* 네비메뉴바(상품디테일,상품정보,리뷰,블로그) 폰트 굵기,색상 지정 */

.bodymenu>span{
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    color: gray;
}

/* 네비메뉴바 뷰포트 이동 시 해당 네비메뉴바 속성 설정 */
/* 네비메뉴바(적용부분:상품디테일) 색상 별도 지정*/
.mainbody>.menubox_one>.detail{
    background-color: rgba(0, 0, 0, 0.030);
}

/* 네비메뉴바(적용부분:상품디테일) 색상 별도 지정 */
.mainbody>.menubox_one>.detail>span{
    color: black;
}

/* 네비메뉴바(적용부분:배송정보) 색상 별도 지정*/
.mainbody>.menubox_two>.info{
    background-color: rgba(0, 0, 0, 0.030);
}

/* 네비메뉴바(적용부분:배송정보) 색상 별도 지정 */
.mainbody>.menubox_two>.info>span{
    color: black;
}

/* 네비메뉴바(적용부분:리뷰) 색상 별도 지정*/
.mainbody>.menubox_three>.review{
    background-color: rgba(0, 0, 0, 0.030);
}

/* 네비메뉴바(적용부분:리뷰) 색상 별도 지정 */
.mainbody>.menubox_three>.review>span{
    color: black;
}

/* 네비메뉴바(적용부분:블로그) 색상 별도 지정*/
.mainbody>.menubox_four>.blog{
    background-color: rgba(0, 0, 0, 0.030);
}

/* 네비메뉴바(적용부분:블로그) 색상 별도 지정 */
.mainbody>.menubox_four>.blog>span{
    color: black;
}


/* 네비메뉴바 사이마다 구분선 지정 */
.bodymenubox>.info{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

/* 네비메뉴바 사이마다 구분선 지정 */
.bodymenubox>.review {
    border-right: 1px solid gray;
}

/* 본문 내용(공통) 각 div 설정 */
.middlebox {
    width: 100%;
    /* height: 400px; */
}

/* 본문 내용(이미지 또는 목록) div */
.middle {
    width: 100%;
    /* height: 370px; */
    display: flex;
    justify-content: center;
}

/* 본문 내용- 상세정보 이미지 기본 속성 */
.detailimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* 본문 내용- 배송정보 이미지 기본 속성 */
.infoimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* 리뷰 부분 시작 */

/* 본문 내용(리뷰) div */
.reviewlist {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* 리뷰 목록 디자인 */
.reviewlist>table{
    width: 90%;
    height: 300px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.765)
}

/* 리뷰 목록 행 보더 디자인 */
.reviewlist>table td {
    height: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.186);
    border-collapse: collapse;
    font-family: 'BBTreeGR', sans-serif;
    cursor: default;
}

/* 별점 부분 정렬 */
.reviewlist td:nth-child(1){
    width: 200px;
    text-align: left;
    padding-left: 20px;
}

/* 내용 부분 정렬 */
.reviewlist td:nth-child(2){
    text-align: left;
}

/* 리뷰 별점 스타일 */
.xi-star {
    color: var(--point);
    font-size: 20px;
}

/* 리뷰 new! 표시 아이콘 스타일 */
.xi-new {
    color: var(--point);
    font-size: 15px;
}
/* 리뷰 부분 끝 */

/* 블로그 부분 시작 */
/* 블로그 목록 감싸는 컨테이너 */
.middleboxBlog {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

/* 블로그 자동캐러셀 시작*/
.blogSwiperArea {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    height: 45vh;
}
.mySwiperBlog {
    width: 35%;
}
.mySwiperBlog .swiper-wrapper {
    width: 100%;
}
.mySwiperBlog .swiper-wrapper .swiper-slide .slide .imgBox {
    width: 100%;
}
/* 블로그 자동캐러셀 끝 */


/* 22/07/24 블로그후기 "더보기" 설정 */
/* 더보기 div */
.blogPlus {
    position: absolute;
    z-index: 10;
    top:5px;
    right: 0;
}

/* 더보기 폰트 설정 */
.blogPlus a, .blogPlus a i{
    color: var(--point);
    font-size: 1.2rem;
}

/* 더보기 폰트(아이콘) 별도 속성 지정 */
.blogPlus a i {
    line-height: 5px;
    vertical-align: middle;
}

/* 22/07/24 블로그후기 텍스트 영역 설정 */
.blogReviewText{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

/* 블로그후기 텍스트부분 크기 설정 */
.blogerContents {
    width: 100%;
    /* margin-bottom: 20px; */
}

/* 블로그후기 텍스트(제목) 디자인 */
.blogSwiperArea .blogReviewText .itemText .itemTitle{
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    font-size: 2rem;
    color: var(--point);
    margin: 20px 0 7px;
}

/* 블로그후기 텍스트(내용) 디자인 */
.blogSwiperArea .blogReviewText .itemText .itemInfor{
    font-family: 'BBTreeGR', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    height: 220px;
    overflow: hidden;
}

/* 블로거 정보 부분 */
.blogerInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 5px;
    border-top: 1px solid gray;
}

/* 블로거 이름 div */
.blogerName {
    float: right;
    margin-right: 10px;
}

/* 블로거 이름위에 달려있는 "파워블로거"*/
.blogerName>span {
    font-size: 5px;
    color: var(--point);
    display: block;
    text-align: left;
}

/* 블로거 이미지 div*/
.blogerImg {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    float: right;
}

/* 블로거 이미지 */
.blogerImg>span{
    font-size: 35px;
    padding-top: 10px;
}

/* 오슬기 파트 끝 */


/* 공통영역-footer */
.footer{
    height: 250px;
    padding: 25px 0 0 10vw;
    border-top: 2px solid rgb(155, 154, 154);
    background-color: rgba(214, 214, 214, 0.747);
    display: flex;
}
.footer .footerImg .footerLogo{
    position: relative;
    left: -25px;
    top: -21px;
    width: 160px;
}
.footerText a{
    color: var(--point);
}
.footerText{
    line-height: 25px;
    font-size: 1.2rem;
}
.footContent{
    font-family: 'BBTreeGR', sans-serif;
    font-size: 0.9rem;
}




/* 22/07/24 성선규 추가
알람 추가 */
.alarm {
    border: 3px solid var(--point);
    background-color: white;
    border-radius: 10px;
    position: fixed;
    width: 15%;
    height: 8%;
    bottom: 20px;
    left: 20px;
    /* padding: 10px; */
    z-index: 1000; /* 0729 오슬기 수정: 알람 뜰 시 추가된 제품이미지에 가려져버려서 숫자증가시킴*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping_alarm {
    transform: translateX(-350px);
    opacity: 0;
}
.shopping_alarm >div{
    width: 100%; /* 22/07/27 성선규 추가 : 넓이 추가하여 컨텐츠 사이에 여백 추가 */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 22/07/27 성선규 수정 : 컨텐츠 사이 여백  */
    align-items: center;
}
.like_alarm {
    transform: translateX(-350px);
    opacity: 0;
}
.like_alarm > div{
    width: 100%; /* 22/07/27 성선규 추가 : 넓이 추가하여 컨텐츠 사이에 여백 추가 */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 22/07/27 성선규 수정 : 컨텐츠 사이 여백  */
    align-items: center;
}
.shopping_alarm_img{
    width: 60px; /* 22/07/27 성선규 수정 : 이미지 크기 수정  */
    height: 60px; /* 22/07/27 성선규 수정 : 이미지 크기 수정  */
    margin-left: 10px; /* 22/07/27 성선규 추가 : 왼쪽에 여백 추가 */
}
.like_alarm_img {
    width: 60px; /* 22/07/27 성선규 수정 : 이미지 크기 수정  */
    height: 60px; /* 22/07/27 성선규 수정 : 이미지 크기 수정  */
    margin-left: 10px; /* 22/07/27 성선규 추가 : 왼쪽에 여백 추가 */
}

/* 장바구니 알람 이미지 기본속성*/
.shopping_alarm div img {
    width: 25px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

/* 장바구니,찜 알람 시 뜨는 문구 */
.alarm div span{
    display: inline-block;
    width: 70%;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    font-size: 15px;
    /* border: 1px solid red; */
}

/* 찜 알람 이미지 기본속성 */
.like_alarm div img {
    width: 25px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

/* 알람 애니메이션 적용 */
.move_alarm {
    animation-name: alarm;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

/* 0730 오슬기 추가  */
/* 장바구니 박스 내 x 아이콘  */
.close_icon {
    color: black;
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: var(--color);
    border-radius: 10%;
}


/* 알람 나타났다 사라지는 애니메이션 */
@keyframes alarm {
    /* 아이콘 클릭 시 상단의 클래스 추가 */
    0% {
        transform: translateX(-350px);
    }
    15% {
        transform: translateX(0);
    }
    85% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-350px);
    }
}

/* 22/07/24 성선규 추가 */
/* 최상단 이동 버튼 */
/* 버튼 div 기본 속성 */
.scroll_up_container {
    position: fixed;
    right: 1%;
    bottom: 3%;
    user-select: none;
}

/* 버튼 디자인 */
.scroll_up_container div {
    border: 3px solid var(--color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 버튼 hover시 배경 컬러 변경 */
.scroll_up_container div:hover {
    background-color: var(--color);
}