/* 
==================================
2022-07-19 15:53 성선규
파일 생성 후 기초 작업
==================================
2022-07-20 12:45 오슬기
디자인 일부 수정
라디오클릭시 속성변경내용 추가
==================================
2022-07-21 19:24 성선규
드래그 불가 요소 추가
==================================
2022/07/26 17:41 성선규
미디어 쿼리 추가
==================================
22/07/28 성선규
최근 본 상품 및 찜한상품 및 장바구니
요소 스타일 추가
==============================
*/
/* 세방고딕 Regular  */  
@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 유토 이미지 고딕 R */
@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 임시 공간을 위한 공간 확보 */
/* css 적용을 위한 라인 확인용 
    - 작업 완료 후 주석 처리 예정
*/
*{
    /* border: 1px solid red; */
    /* transition: all .5s; 220720 오슬기 수정: 시간 줄였음 
                            220720 성선규 수정 : 전체 딜레이가 너무 심해서 삭제 후 해당 요소에 직접 추가*/
}
/* 페이지 기존 margin 제거 */
body{
    margin: 0;
}

/* aside container (장바구니) 
margin 조정 가능*/
/* 테두리 색상은 폰트 색상으로 변경
사용자의 화면에 고정하기 위해 fixed 설정 */
.basket_box{
    width: 120px;
    height: 392px; /*220720 오슬기 수정: 늘렸음*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 999;
    border-radius: 2px; /*220720 오슬기 수정: 줄였음*/
    border: 1px solid rgba(128, 128, 128, 0.416); /* 220720 오슬기 수정: 사이드바 전체div 보더 수정*/
    left: 1%; /* 220720 오슬기 추가: 사이드바 전체 왼쪽으로 붙임*/
    top: 40%;
    transition: all 1s;
}
/* 텍스트 가운데 설정 */
.basket_box > div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* 컨텐츠 입력시 창 밖으로 나오는 요소 숨김 */
.basket_box > div > div{
    width: 120px;
    overflow: hidden;
}
/* input-radio 버튼 삭제 */
input[type=radio]{
    display: none; 
}
/* label에 커서가 올라갔을 때 pointer로 변경
상하단 white 에서 black으로 변경 */
input[type=radio] ~ label:hover{
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: all .5s;
}
/* 폰트 세방 고딕체 설정
폰트 사이즈 조정
꼭지점 설정 */
label{
    font-family: 'SEBANG_Gothic_Regular';
    width: 115px;    /*220720 오슬기 수정: 늘렸음*/
    height: 50px;   /*220720 오슬기 수정: 늘렸음*/
    line-height: 50px;   /*220720 오슬기 수정: 늘렸음*/
    /*220720 오슬기 수정: 백그라운드 삭제*/
    color:rgba(0, 0, 0, 0.728);   /*220720 오슬기 수정: 투명도 설정했음*/
    font-weight: 100;  /*220720 오슬기 수정: 이 줄 의미없는것 같은데 일단 보류*/
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255); 
    border-collapse: collapse;
    border-radius: 2px; /* 220720 오슬기 추가: 라디오박스 보더*/
    user-select: none; /* 220721 성선규 추가 : 사용자 드래그 불가 */
}
/* 너비 높이 설정 후 요소 숨김 */
.recent_box{
    height: 240px;
    width: 120px;
    display: none;
}
.like_box{
    height: 240px;
    width: 100%;
    display: none;
}
.select_box{
    height: 240px;
    width: 120px;
    display: none;
}
/* input-radio checked 될 경우 요소 보임 */
#recent:checked ~ .recent_box{
    display: block;
}
#like:checked ~ .like_box{
    display: block;
}
#select:checked ~ .select_box{
    display: block;
}

/* 220720 12:45 오슬기 추가 영역 시작*/
#recent:checked ~ label{
    display: block;
    width: 120px;
    color: black;
    background-color: rgb(255, 218, 71);
    transition: all .5s;
}
#like:checked ~ label{
    display: block;
    width: 120px;
    color: black;
    background-color: rgb(255, 218, 71);
    transition: all .5s;
}
#select:checked ~ label{
    display: block;
    width: 120px;
    color: black;
    background-color: rgb(255, 218, 71);
    transition: all .5s;
}
/* 220720 오슬기 추가 영역 끝*/

/* 
======================================
2022-07-19 18:08 성선규
사이드 장바구니 생성 작업 완료
======================================
*/

/* 22/07/26 성선규
max-width가 1300px 이하로 내려갈경우 나타나기 */
.media_basket_btn_box{
    display: none;
    position: fixed;
    width: 40px;
    height: 50px;
    top: 50%;
    background-color: var(--color);
    border: 1px solid rgb(174, 153, 70);
    border-left: none;
}
.media_basket_btn_box div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media_basket_btn_box div span{
    font-size: 50px;
    font-weight: 900;
}

/* 22/07/28 성선규 
최근 본 상품 찜한 상품 장바구니 안쪽 아이템 스타일 추가*/
/* 최근 본 상품 아이템 */
.recent_box > .recent_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.recent_box > .recent_item > div{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    position: relative;
}
/* 장바구니 아이템 */
.select_box > .select_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.select_box > .select_item > div{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    position: relative;
}
/* 찜한 상품 아이템 */
.like_box > .like_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.like_box > .like_item > div{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    position: relative;
}

/* 0730 오슬기 추가  */
/* 장바구니 박스 내 x 아이콘  */
.close_icon {
    user-select: none;
    color: black;
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: rgb(255, 218, 71);
    border-radius: 10%;
}

@media only screen and (max-width : 1300px) {
    .basket_box{
        transform: translateX(-210px);
        top: 320px;
        left: 0;
        width: 200px;
        height: 50vh;
        transition: all 1s;
    }
    .basket_box > div > input[type=radio] ~ label{
        width: 200px;
        background-color: white;
    }
    #recent:checked ~ label{
        width: 200px;
    }
    #like:checked ~ label{
        width: 200px;
    }
    #select:checked ~ label{
        width: 200px;
    }
    .basket_box > div > div[class *= box]{
        width: 200px;
        height: 36.5vh;
        background-color: white;
    }
    .media_basket_btn_box{
        display: block;
        z-index: 999;
        transition: all 1s;
    }
}