/*
==============================
22/07/19 노현 네비바 생성
22/07/19 김정치 기본 폰트 추가
==============================
*/
/* 폰트 */
/* 유토이미지고딕R */
@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 세방고딕 BOLD */
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 세방고딕 Regular  */
@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --point: orangered;
    --color: rgb(255, 218, 71);
}

* {
    /* 세방고딕BOLD체 */
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    margin: 0;
    box-sizing: border-box;
    /* 라인 보려고 적용해둔 보더라인. */
    /* border: 1px solid royalblue; */ 
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    /* 22/07/20 김정치
x축 스크롤바 제거 */
    overflow-x: hidden;
}


/* 22/07/19 노현
로고 가운데 맞추려고 text-align: center 씀 */

/* 헤더부분 */
.header {
    text-align: center;
}
/* 22/07/27 노현 수정
a태그 사이즈가 작아서 로고사이즈랑 같게 맞춤 */
.logo{
    width: 150px;
    height: 150px;
    display: inline-block;
}
/* 22/07/19 노현
네비바 로고 사이즈 */
.logo>img {
    width: 150px;
    height: 150px;
}

/* 22/07/19 노현
네비바 메뉴 */
/*  
=================================================
22/07/20 노현 
수정
아래에 있던 justify-content: center;랑
.header>.navbar>a{
margin: 0 5.8vw;
}
마진값 때문에 글씨가 세로로 서지고
엉켜서 주석처리하고
justify-content: space-between; 로 바꿈.
=================================================
22/07/21 성선규
수정
네비게이션바의 z-index가 설정되어 있지 않아 
다른 컨텐츠에 묻힘
해서 z-index 100으로 설정
해당 내용 수정
=================================================
*/
.header>.navbar {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    list-style: none;
    
/* 22/07/21 노현
    네비바 아래 밑줄 추가. */
    border-bottom: 3px solid var(--point);
    /* box-shadow: 0 3px 2px 0 rgba(192, 192, 192, 0.6); */
}

/* 22/07/19 노현
네비바 간격 벌리려고 마진씀
추후 더 넣을거면 조정
네비바 메뉴 글씨 색깔 및 폰트사이즈 */
/* 22/07/20 노현
수정
밑에 간격 벌리려고 쓴 마진은 주석처리
사유는 읽는 위치 기준 위로 30번째줄에 주석 달아둠. */
.header>.navbar>a {
    /* margin: 0 5.8vw;  */
    font-size: 23px;
    color: black;
    padding: 12px 6.5px;
}

/* 22/07/19 노현
   네비바 스크롤 했을때 고정(JS)
   오류떠서 JS에서 직접 fixed값 넣었음 */
/* .fixed-nav{
    position: fixed;
} */


/* 22/07/19 노현
우측 상단 로그인 회원가입
포지션으로 우측 상단 맞춤  */
.header>.login {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 22/07/19 노현
우측 상단 로그인 회원가입
a태그 글씨색깔 검정 */
.header>.login>a {
    font-size: 20px;
    margin: 0 15px;
    color: black;
}
/* 22/07/19 노현
네비바 첫번째 왼쪽마진 */
.navbar>a:first-child{
    margin-left: 10vw;
}
/* 22/07/19 노현
네비바 첫번째 오른쪽마진 */
.navbar>a:last-child{
    margin-right: 10vw;
}
/* 메인 이미지 */
.mainImg{
    width: 100%;
    height: 600px;
    background: url(mainimage.jpg) 80% 80%/100% no-repeat;
}

/* 메인부분 */
.section{
    width: 100%;
    /* height: 300px; */
}

/* 22/07/19 노현
네비바 첫번째 왼쪽마진 */
.navbar>a:first-child {
    margin-left: 10vw;
}

/* 22/07/19 노현
네비바 첫번째 오른쪽마진 */
.navbar>a:last-child {
    margin-right: 10vw;
}