/* 22/07/20 노현 수정
mainpage.css
mainImage.css , mainpageNavbar.css
로 둘로나눔 */
/* 메인 이미지 */
.mainImg{
    width: 100%;
    /* 22/07/22 노현 수정
    이미지 600px -> 40vh */
    height: 40vh;
    background: url(mainimage.jpg) 80% 80%/100% no-repeat;
}

/* 22/07/19 노현
네비바 밑에 세션부분 옆에 공백주려고 padding값 넣음 */
/* 22/07/20 노현
css나누면서 이쪽으로 옴. */
/* 22/07/21 노현
수정.
container클래스명을 김정치님쪽에서 변경.
필요없어져서 주석처리. */
/* .container{
    padding: 0 10vw;  
}*/