/*
==============================
22/07/19 노현 네비바 생성
22/07/19 김정치 기본 폰트 추가
==============================
*/
/* 폰트 */
/* 유토이미지고딕R */
@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 세방고딕 BOLD */
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 세방고딕 Regular  */
@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    /* background-color: black; */
    /* 세방고딕BOLD체 */
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    margin: 0;
    box-sizing: border-box;
    /* 라인 보려고 적용해둔 보더라인. */
    border: 1px solid royalblue;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    /* 22/07/20 김정치
x축 스크롤바 제거 */
    overflow-x: hidden;
}


/* 22/07/19 노현
로고 가운데 맞추려고 text-align: center 씀 */

/* 헤더부분 */
.header {
    text-align: center;
}

/* 22/07/19 노현
네비바 로고 사이즈 */
.logo>img {
    width: 150px;
    height: 150px;
}

/* 22/07/19 노현
네비바 메뉴 */
/*  
=================================================
22/07/20 노현 
수정
아래에 있던 justify-content: center;랑
.header>.navbar>a{
margin: 0 5.8vw;
}
마진값 때문에 글씨가 세로로 서지고
엉켜서 주석처리하고
justify-content: space-between; 로 바꿈.
=================================================   
*/
.header>.navbar {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    list-style: none;

}

/* 22/07/19 노현
네비바 간격 벌리려고 마진씀
추후 더 넣을거면 조정
네비바 메뉴 글씨 색깔 및 폰트사이즈 */
/* 22/07/20 노현
수정
밑에 간격 벌리려고 쓴 마진은 주석처리
사유는 읽는 위치 기준 위로 20번째줄에 주석 달아둠. */
.header>.navbar>a {
    /* margin: 0 5.8vw;  */
    font-size: 23px;
    color: black;
    padding: 12px 6.5px;
}

/* 22/07/19 노현
   네비바 스크롤 했을때 고정(JS)
   오류떠서 JS에서 직접 fixed값 넣었음 */
/* .fixed-nav{
    position: fixed;
} */


/* 22/07/19 노현
우측 상단 로그인 회원가입
포지션으로 우측 상단 맞춤  */
.header>.login {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 22/07/19 노현
우측 상단 로그인 회원가입
a태그 글씨색깔 검정 */
.header>.login>a {
    font-size: 20px;
    margin: 0 15px;
    color: black;
}

/* 22/07/19 노현
네비바 첫번째 왼쪽마진 */
.navbar>a:first-child {
    margin-left: 10vw;
}

/* 22/07/19 노현
네비바 첫번째 오른쪽마진 */
.navbar>a:last-child {
    margin-right: 10vw;
}